.message {
  max-width: 270px;
  width: auto;
  height: auto;
  text-align: start;
  margin-top: 5px;
  font-size: 14px;
  position: relative;
  border-radius: 7.5px;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 9px;
  padding-right: 7px;
}
.message_incoming {
  background-color: rgb(28, 83, 145);
  margin-right: auto;
  margin-left: 10px;
}
.message_outgoing {
  background-color: rgb(0, 92, 75);
  margin-right: 10px;
  margin-left: auto;
}
.message__date {
  position: absolute;
  right: 10px;
  bottom: 3px;
  font-size: 10px;
  font-weight: 700;
  user-select: none;
  color: #ffffff99;
}
.message__text {
  word-wrap: break-word;
}
